<html>
<body>
	Hello Healthcoco Team,
	<br>
	<br> ${type} has contact you. Following are the details :
	<br> name: ${fname}
	<br> city :${city}
	<br> mobile number :${mobileNumber}
	<br> emailAddress:${emailAddress}
</body>
</html>