<html>
<body>
	Hello Healthcoco Team,
	<br>
	<br> ${type} has contact you. Following are the details :
	<br> Name : ${fName}
	<br> City : ${city}
	<br> Mobile number : ${mobileNumber}
	<br> Email Address : ${emailAddress}
	<br> Pharmacy Name : ${localeName}
	<br> Address : ${address}
	<br> License No. : ${licenseNo}
		<br> Device Type : ${deviceType}
</body>
</html>