<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>

<body cz-shortcut-listen="true" style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#2c3335;">

  <div style="margin:20px auto; max-width:800px; min-width:320px;">

    <div style="margin-top:5px">

      <div style="margin: 10px -20px;">
       <img src="${imageURL}logo1.png" style="width:280px;">
      </div>
      <div style="border-bottom: 2px solid #0077b5;"></div>
      
      <div>
        <p style="margin:20px 0px; line-height: 20px;">Healthcoco ${fName}!<br><br>
        You're receiving this email because you requested a password reset for the user ${emailAddress}.<br><br>
        If you made this request, click the button below. If you didn't make this request, you can ignore this email.</p>
      </div>

      <div style="margin-top:20px;">
        <a style="border-radius:3px;color:white;font-size:15px; padding:11px 7px; max-width:200px; border:1px #1373b5 solid;text-align:center;text-decoration:none; width:200px; margin:10px auto; display:block; background-color:#007ee6" href="${link}" target="_blank">Reset password</a>
      </div>

      <div style="float:left;">
        <p style="margin:20px 0px; line-height: 20px;">Or use this link to reset your password:<br><br>
        <a href="${link}" style="text-decoration:none; color:#0077b5;">${link}</a><br><br>

       If you're getting a lot of password reset emails you didn't request, or you have more questions about password reset, please mail us at<a style="color:#0077b5; text-decoration:none;" href="" target="_blank"> usersfirst@healthcoco.com</a><br>Please note this code expires in six hours. After this you'll need to resubmit the request to change your details.<br><br>Stay Healthy and Happy,<br>The Healthcoco Team.<br><br>
       
      </div>

     
      <div style="clear:both;">

    <div style="border-bottom: 2px solid #0077b5;"></div>

    <div style="margin:10px auto;">
      <p style="text-align:center;">© 2016 Healthcoco Technologies Pvt Ltd.</p>
    </div>
  </div>

</body>
</html>