<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>

<body cz-shortcut-listen="true" style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#2c3335;">

  <div style="margin:20px auto; max-width:800px; min-width:320px;">

    <div style="margin-top:5px">

      <div style="margin: 10px -20px;">
       <img src="${imageURL}logo1.png" style="width:280px;">
      </div>
      <div style="border-bottom: 2px solid #0077b5;"></div>
      
      <div>
        <p style="margin:20px 0px; line-height: 20px;">Hello,<br>
        Welcome to Healthcoco!<br><br>
        We have build a healthcare and wellness platform which will help you connect with users. We aim to improve the access and
        quality of healthcare among masses and you have brought us one step closer to our goal.<br><br>
        We are excited to have you on-board and there's just one step to verify if it's actually your e-mail address:</p>
      </div>

      <div style="margin-top:20px;">
        <a style="border-radius:3px;color:white;font-size:15px; padding:11px 7px; max-width:200px; border:1px #1373b5 solid;text-align:center;text-decoration:none; width:200px; margin:10px auto; display:block; background-color:#007ee6" 
        href="${link}" target="_blank">Verify now</a>
      </div>

      <div style="float:left; width:65%; padding:0px 10px; word-wrap: break-word; word-break: break-all;">
        <p style="margin:20px 0px; line-height: 20px;">Alternatively, open the following url in your browser:<br>
        <a href="${imageURL}" style="text-decoration:none; color:#0077b5;">${imageURL}</a><br><br>

        We will contact you shortly to complete your further verification process and get you started with Healthcoco+.
        <br><br>
        If you have any questions or need help you can visit our Support Pages or contact us anytime at <a style="color:#0077b5; text-decoration:none;" href="" target="_blank"> usersfirst@healthcoco.com</a>
        <br><br>Stay Healthy and Happy,<br>The Healthcoco Team.
        </p>
      </div>

      <div style="float:left; width:30%; padding:0px 10px;"> 
        <img class="mob_img" src="${imageURL}mobye.png" width="100%;">
           <p style="font-size:17px; text-align:center; color:#555555; font-weight:bold;margin-top:10px;">Coming soon</p>
           <p align="center"> 
           <a href="" style="paddin-right:10px;"><img src="${imageURL}appl.png" width="40" height="40"></a>
           <a href="" style="paddin-left:10px;"><img src="${imageURL}and.png" width="40" height="40"></a>
           </p>
      </div> 
      <div style="clear:both;">

    <div style="border-bottom: 2px solid #0077b5;"></div>

    <div style="margin:10px auto;">
      <p style="text-align:center;">© 2016 Healthcoco Technologies Pvt Ltd.</p>
    </div>
  </div>

</body>
</html>