<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>

    <body data-pinterest-extension-installed="cr1.39.1" cz-shortcut-listen="true" style="font-family: 'Roboto Condensed', sans-serif">
      <div>

        <div style="background-color:#ffffff;line-height:25px;margin-bottom:10px;font-family:'Open Sans',sans-serif;margin:0px auto;min-width:200px;max-width:600px">

            <div style="padding: 10px; text-align: center;">
              <img src="https://s3.amazonaws.com/dev-img-healthcoco.in/doctorSubscription/logo.png" style="width: 240px;">
            </div>

            <div class="top" style="background-color: #faf8f8;color:#2c3335;font-size:17px;padding:15px;">

            <div class="t_image" align="center" style="margin-top: 10px">
              <img src="https://s3.amazonaws.com/dev-img-healthcoco.in/doctorSubscription/package-change.png" style="margin-top: 15px; width: 100%;">
            </div>

              <p>
                Hi Dr. ${fName},<br><br>
                Welcome to Healthcoco!
                <br>
                <hr>
                <br>               
                               
                Your Payment has been done successfully.  <br>
                Mode of Payment: ${paymentMode}<br>
                ReceiptId: ${receipt} <br>
                Total cost: ${totalCost} <br>
                Plan: ${packageName} <br>
                Duration: ${duration} Year. 
              </p>
            
              <br>



              <p style="color:#2c3335;font-size:17px;padding:15px;">
                Stay Healthy and Happy,<br>Team Healthcoco.
              </p>
    </div>

      <div class="footer" >
        <p class="pager" style="font-size:14px;padding:0px 25px;">This message was sent to you by Healthcoco.<br>
        </p>
        
          <div class="footer_side" style="float: right; margin-right: 24px;">

            <a style="color: #0077b5;text-decoration:none;"href="https://www.facebook.com/healthcoco/" target="_blank" ><img src="img/fb.png" style="width: 30px;"></a>
            <a style="color: #0077b5;text-decoration:none;"href="https://www.instagram.com/healthcoco/" target="_blank"><img src="img/insta.png" style="width: 30px;"></a>
            <a style="color: #0077b5;text-decoration:none;"href="https://www.linkedin.com/company/healthcoco" target="_blank"><img src="img/in.png" style="width: 30px;"></a>
            <a style="color: #0077b5;text-decoration:none;"href="https://www.youtube.com/channel/UCAvIuW5nt0qBXvAfVeynQOg" target="_blank"><img src="img/youtube.png" style="width: 30px;"></a>
            <a style="color: #0077b5;text-decoration:none;"href="https://twitter.com/healthcocoCOM" target="_blank"><img src="img/twitter.png" style="width: 30px;"></a>
            
          </div>

    </body>

  </html>
